# MOLLI data files - not distributed
pool_MultiBind_ProseqActiveLiverPromoters_Annotated_withColnames.bed
RNAseq_DE_results.tsv

# R temporary/session files
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# RStudio
*.Rproj.user

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
